* {
    margin: 0;
    padding: 0;

}
th, td {
  border: 1px solid;
  border-radius: 2px;
  padding: 1%;
  padding: 10px;
  text-align: center;

}

.forms {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
}